## Node
node_modules/
.pnp/
.pnp.js

## Next.js
.next/
out/
.vercel/
dist/

## Production
build/

## Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

## Env files
.env
.env.*

## OS
.DS_Store

## Editor
.vscode/

## pnpm
pnpm-lock.yaml

## coverage
coverage/
